cobbler system add --name={{ hostname }} --mac={{ mac }} --profile={{ profile }} --hostname={{ hostname }} --interface={{ interface }} --ip-address={{ ip }} --subnet={{ netmask }} --gateway={{ gateway }} --name-servers={{ dns }} --kopts="interface={{ interface }}"
